* {
  border: border-box;
  font-family: helvetica;
  margin: 0;
}
:root {
  font-size: 18px;
}
body {
  /* background-color: rgba(255, 255, 255, 0.76); */
  display: grid;
  place-items: center;
  margin: 0 auto;
  font-size: larger;
}

.history {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  line-height: 1.5;
}
.history h1 {
  line-height: 1;
  margin-bottom: 2rem;
}
.history p {
  width: 42%;
  text-align: center;
  margin: 0 auto;
}

p {
  color: lightgray;
  font-size: 16px;
}

input[type="submit"] {
  padding: 15px;
  border-radius: 25px;
  color: #fff;
  margin-right: 10px;
  border: none;
  box-shadow: 0px 0px 10px #61d4c3;
}

input[type="submit"]:hover {
  cursor: pointer;
}
#iOS {
  background-color: #26bba4;
  width: 37%;
}

#Mac {
  background-color: rgb(133, 58, 231);
  padding: 15px;
  border-radius: 25px;
  color: #fff;
  box-shadow: 0 0 10px rgb(177, 175, 175);
  width: 37%;
}
.header {
  background-image: url(Assets/images/bg-header-desktop.png);
  background-position: top;
  padding: 80px 0 20px;
  width: 100%;
}
#logo svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #fff;
  border-radius: 50%;
}
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 7rem;
  margin-top: 30px;
  width: 60%;
}

.track {
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.track h2 {
  margin-top: 10px;
}
.track p {
  width: 45%;
  text-align: center;
  margin: 0 auto;
}

.first-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.info {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 500px;
  margin-top: 20px;
  line-height: 1.5;
}
.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-2 {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 50px;
  margin-top: 100px;
}
.info-2 p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 1.5;
}
.info-3 p {
  text-align: center;
}
.sub-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  text-align: center;
  margin: 80px;
}

#blacklist,
#plain-text,
#sneak {
  width: 30%;
}

.sub-sec p {
  padding-right: 20px;
  margin-bottom: 20px;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 60px auto;
}

.fourth-section {
  text-align: center;
  margin: 0 auto;
  line-height: 1.8;
  margin-top: 4em;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 249, 249, 0.815);
  padding: 15px;
  width: 100%;
}

#logo-smal img {
  width: 2rem;
  height: 2rem;
  margin-left: 11rem;
  margin-top: 1.5rem;
}

.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin-left: 21em;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  width: 22em;
  margin-left: 6em;
}
.container a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
}

.container a:hover {
  color: #11eecd;
}
.media svg {
  border-radius: 0;
  fill: #4c545c;
}

.media svg:hover {
  fill: #11eecd;
  cursor: pointer;
}

.FAQ {
  grid-row: 1;
}

.contact {
  grid-column: 1;
  grid-row: 2;
}

.press-kit {
  grid-column: 2;
  grid-row: 2;
}
 
@media (max-width: 320px) {
  /* :root {
    font-size: 62.5%;
  } */
  .header {
    background-image: url(Assets/images/bg-header-mobile.png);
  }
  .history {
    width: 100%;
    height: fit-content;
    margin-bottom: 0.5rem;
  }
  .history p {
    width: 56%;
    margin-top: 1rem;
  }
  .history h1 {
    width: 85%;
    margin: 0 auto;
    line-height: 1.2;
  }
  .track h2 {
    width: 80%;
    margin: 0 auto;
  }
  .track p {
    width: 72%;

  }
  .download {
    flex-direction: column;
    width: 100%;
  }
  #iOS {
    width: 80%;
  }
  #Mac {
    width: 80%;
  }
  input {
    margin-bottom: 1.5rem;
  }
  .first-section {
    grid-template-columns: 1fr;
  }
  .image-1 {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .image-1 img{
    width: 80%;
  }
  .info {
    width:100%;
    margin: 0 auto;
    margin-left: 0;
  }
  .info h3 {
    text-align: center;
  }
  .info p {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .info-2 h2 {
    width: 54%;
    margin: 0 auto;
  }
  .info-2 p {
    width:54%;
  }
  .info-3 h2 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .info-3 p {
    width: 56%;
    margin: 0 auto;
  }
  .image-2 {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .image-2 img {
    width: 80%;
  }
  .sub-sec {
    flex-direction: column;
    width: 100%;
  }
  .sub-sec h3 {
    margin-top: 1rem;
  }
  .sub-sec p {
    text-align: center;
    width: 57%;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  #blacklist, #plain-text, #sneak {
    width: 100%;
  }

  .social {
    flex-direction: column;
  }
  .social img {
    margin-bottom: 5rem;
  }
  .info-4 {
    width: 75%;
    text-align: center;
    margin: 0 auto;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #logo-smal img {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .container {
    grid-template-columns: 1fr;
    place-items: center;
    margin-left: 0px;
  }
  .FAQ {
    grid-row: 1;
    grid-column: 1;
  }
  .contact {
    grid-row: 2;
    grid-column: 1;
  }
  .privacy {
    grid-row: 3;
    grid-column: 1;
  }
  .press-kit {
    grid-row: 4;
    grid-column: 1;
  }
  .install {
    grid-row: 5;
    grid-column: 1;
  }
  .media {
    margin-left: 0;
    margin-top: 2rem;
    width: 150px;
  }
}